[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"

[packages]
chardet = "*"
rdflib = ">=5.0.0"
rdflib-shim = "*"
requests = ">=2.22.0"
urllib3 = "*"
ShExJSG = ">=0.8.1"
CFGraph = ">=0.2.1"
PyShExC = "==0.9.0"
sparqlslurper = ">=0.5.1"
sparqlwrapper = ">=1.8.5"
