[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"

[packages]
rdflib = "~=5.0"
rdflib-jsonld = "~=0.5"
requests = ">=2.22.0"
urllib3 = "*"
ShExJSG = ">=0.7.1"
CFGraph = ">=0.2.1"
PyShExC = "==0.8.3"
sparqlslurper = "~=0.4"
sparqlwrapper = ">=1.8.5"
